BODY {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; COLOR: #006400; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #4867ae; TEXT-ALIGN: center
}
.down {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 0px; BORDER-TOP: 1px inset; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px inset; PADDING-TOP: 0px; BORDER-BOTTOM: 1px inset
}
.textarea {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; OVERFLOW: auto; BORDER-LEFT: 2px inset; WIDTH: 475px; LINE-HEIGHT: 20px; BORDER-BOTTOM: 2px inset; HEIGHT: 100px; TEXT-ALIGN: left
}
.tddown {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid
}
.butdown {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; HEIGHT: 21px
}
.butdown-s {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; WIDTH: 50px; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.CellDown {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-REPEAT: no-repeat
}
.but {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #6699cc 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #4867ae
}
.butup {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #424142 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #424142 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #4867ae
}
.but-s {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #6699cc 1px solid; WIDTH: 50px; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #4867ae
}
TABLE {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.fam {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #4867ae
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; RIGHT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; CLIP: rect(0px 0px 0px 0px); BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TOP: 0px
}
INPUT {
	FONT-SIZE: 12px
}
FORM {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.iframe {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #424142 1px solid; BORDER-LEFT: #424142 1px solid; BORDER-BOTTOM: #6699cc 1px solid
}
.tddown1 {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #424142 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #424142 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: gray
}
.tddown2 {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #c0c0c0 1px solid; BACKGROUND-COLOR: #6699cc
}
.but2 {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: black 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: black 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: dimgray
}
.but1 {
	BORDER-RIGHT: #424142 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #6699cc 1px solid; CURSOR: hand; PADDING-TOP: 0px; BORDER-BOTTOM: #424142 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #4867ae
}
